@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@font-face {
    font-family: "police1";
    src: url("../Gemini\ Moon.otf");
}
@keyframes banniere1 {
    0% {
        background-color: dimgrey;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: dimgrey;
    }
}

.menu {
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    font-size: 3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.777);
    height: 10vh;
}
.item1 {
    transition: all 4s;
}
.item1:hover {
    color: red;
    transform: scaleX(2);
}
.item2 {
    transition: all 1s steps(4);
}
.item2:hover {
    color: pink;
    transform: skewY(25deg);
}
.item3 {
    transition: all 2s;
}
.item3:hover {
    background-color: aquamarine;
    transform: translateY(200%);
    font-family: "police1";
}
.grid {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr 1fr 2fr;
}
.banniere1 {
    animation: banniere1 5s infinite;
    grid-row: 3 / 4;
    text-align: center;
    font-family: "police1";
    font-size: 3em;
    font-style: bold;
    text-shadow: 2px 2px 2px darkred;
}
i {
    transition: background-color 2s, font-size 2s;
}
i:hover {
    background-color: blue;
    font-size: 4em;
}
.police2:hover {
    transform: rotateX(180deg);
}
.banniere2 {
    grid-row: 5 / 6;
    text-align: center;
    font-family: 'Bungee Spice';
    font-size: 2em;
    font-style: bold;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(220, 153, 31) 50%, rgba(0,0,0,1) 100%);
    box-shadow: 5px 5px 15px 5px #000000;
}